<form ng-submit="sendMessage()">
  <div class="col-xs-12 input-space" ng-show="isNight == null || !isNight">
    <ul class="list-group">
      <li ng-repeat="log in dayLog">
        {{log.player}}: {{log.content}}
      </li>
    </ul>
  </div>
  <div class="col-xs-12 input-space" ng-show="isNight">
    <ul class="list-group">
      <li ng-repeat="log in nightLog">
        {{log.player}}: {{log.content}}
      </li>
    </ul>
  </div>
  <div class="col-xs-12 ">
    <input class="col-xs-10 form-control" type="text" ng-model="msg">
    <button class="btn btn-default col-xs-2" type="submit">Send</button>
  </div>
</form>
