<form ng-submit="sendMessage()">
  <div class="col-xs-12 input-space" ng-show="isNight == null || (!isNight && badSide)">
    <div disabled="{{isNight}}">
      <ul class="list-group">
        <li ng-repeat="log in dayLog">
          {{log.player}}: {{log.content}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 input-space" ng-show="isNight && badSide">
    <h4>Night chat</h4>
    <ul class="list-group">
      <li ng-repeat="log in nightLog">
        {{log.player}}: {{log.content}}
      </li>
    </ul>
  </div>
  <div class="col-xs-12" >
    <input ng-disabled="isNight && !badSide" class="col-xs-10 form-control" type="text" ng-model="msg">
    <button ng-disabled="isNight && !badSide" class="btn btn-default col-xs-2" type="submit">Send</button>
  </div>
</form>

