<h3>gameboard</h3>

You are {{character}}<br/>

<h4 ng-show='!isNight'>Day {{day}}</h4>
<h4 ng-show='isNight'>Night {{day}}</h4>

<div class="" style="margin-top:10px" ng-repeat="player in playerList" >
  <label  >
    <input type="radio" name="player" value="{{player}}" ng-model="$parent.choosePlayer"/> 
      {{player}}
  </label><br/>
  
</div>
<div ui-view="CharacterAction">
	<button type="button" ng-click="goSleep()">Sleep</button>
	<button type="button" ng-click="votePlayer()">
    Vote
  </button>
  {{voteList}}
	{{voteAmount}}
</div>

