<form ng-submit="createGame()">
  <div class="col-xs-12 well">
    <div class="col-xs-12 input-space">
      <h4> Create a game </h4>
    </div>
    <div class="col-xs-12 nopadding">
      <div class="col-xs-12 col-sm-5 input-space title-input">
        <b>Room name:</b>
      </div>
      <input class="col-xs-12 col-sm-6 form-control" type="text" ng-model="game.roomName" />
    </div>
    <div class="col-xs-12 nopadding">
      <div class="col-xs-12 col-sm-5 input-space title-input ">
        <b>Game capacity: </b>
      </div>
      <input class="col-xs-12 col-sm-6 form-control" type="text" ng-model="game.gameCap"/>
    </div>
    <div class="col-xs-12 nopadding">
      <div class="col-xs-12 col-sm-5 input-space title-input ">
        <b>Number of Mafias: </b>
      </div>
      <input class="col-xs-12 col-sm-6 form-control" type="text" ng-model="game.mafiaAmount">
    </div>
    <div class="col-xs-6">
      <div class="game-option" >
        <h5> Village side:</h5>
        <label class="checkbox"><input type="checkbox" ng-model="gameChar.goodSide.police"/>Police </label>
        <label class="checkbox"><input type="checkbox" ng-model="gameChar.goodSide.doctor"/>Doctor </label>
        <label class="checkbox"><input type="checkbox" ng-model="gameChar.goodSide.vigilante"/>Vigilante </label>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="game-option">
        <h5> Mafia side:</h5>
        <label class="checkbox"><input type="checkbox" ng-model="gameChar.badSide.hooker"/>Hooker </label>
        <label class="checkbox"><input type="checkbox" ng-model="gameChar.badSide.traitor"/>Traitor </label>
      </div>
    </div>
    <div class="col-xs-12 apart text-center">
      <button class="btn btn-default" type="submit">Create Game</button>
    </div>
  </div>
</form>
 

