<form ng-submit="createGame()">
<div class="" style="margin-top: 30px">
  <h4> Create a game </h4>
  <input type="text" ng-model="game.roomName" style="width: 200px"/>
  <h4>Game Capacity </h4>
  <input type="text" ng-model="game.gameCap"/>

  <div class="game-option" >
	<label><input type="checkbox" ng-model="gameChar.police"/>Police </label>
	<label><input type="checkbox" ng-model="gameChar.doctor"/>Doctor </label>
	<label><input type="checkbox" ng-model="gameChar.hooker"/>Hooker </label>
	<label><input type="checkbox" ng-model="gameChar.vigilante"/>Vigilante </label>
	<label><input type="checkbox" ng-model="gameChar.traitor"/>Traitor </label>
</div>
<button type="submit">Create Game</button>







</div>
</form>
 

