<form ng-submit="createGame()">
<div class="" style="margin-top: 30px">
  <h4> Create a game </h4>
  <input type="text" ng-model="game.roomName" style="width: 200px"/>
  <h4>Game Capacity </h4>
  <input type="text" ng-model="game.gameCap"/>

  <div class="game-option" >
    <h5> Village side:</h5>
    <label><input type="checkbox" ng-model="gameChar.goodSide.police"/>Police </label>
    <label><input type="checkbox" ng-model="gameChar.goodSide.doctor"/>Doctor </label>
    <label><input type="checkbox" ng-model="gameChar.goodSide.vigilante"/>Vigilante </label>
  </div>
  <div class="game-option">
    <h5> Mafia side:</h5>
      <span> Number of mafia:</span>
      <input type="text" ng-model="game.mafiaAmount">
      <label><input type="checkbox" ng-model="gameChar.badSide.hooker"/>Hooker </label>
	    <label><input type="checkbox" ng-model="gameChar.badSide.traitor"/>Traitor </label>
  </div>


<button type="submit">Create Game</button>







</div>
</form>
 

